body {
    font-family: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    padding-inline: calc(50% - 593px);
}

.top__box {
    background-color: #E1FF8F;
    height: 800px;
    position: relative;
    padding-top: 196px;
}

.img_left {
    width: 128px;
    height: 82px;
    background: left no-repeat url(img/bg_img_left.svg);
    position: absolute;
    top: 69px;
    left: 63px;
}

.img_right {
    width: 587px;
    height: 800px;
    background: right no-repeat url(img/bg_img.svg);
    position: absolute;
    top: 0;
    right: 0;
}

.top {
    position: relative;
}

.title {
    font-weight: 700;
    font-size: 64px;
    padding-bottom: 24px;
}

.top__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #202027;
    padding-bottom: 48px;
}

.top__button {
    border: 1px solid rgba(222, 215, 215, 0.41);;
    box-sizing: border-box;
    border-radius: 60px;
    width: 247px;
    font-size: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    padding: 16px 28px;
    gap: 10px;
    transition: all 0.3s;
    color: #fff;
    background: rgba(0, 0, 0, 1.0);
}

.top__button:hover {
    background-color: #fff;
    color: #000;
}

.for {
    display: flex;
    gap: 32px;
    position: relative;
}

.for_strip_1{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.for_strip_2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.for_strip_3 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.for-box {
    background-color: #202027;
    padding-top: 94px;
    padding-bottom: 50px;
    position: relative;
}

.img_right_2 {
    width: 507px;
    height: 650px;
    position: absolute;
    top: 72px;
    right: 0;
    background: no-repeat url(img/bg_img_star_right_2.svg);
}

.img_left_2 {
    width: 106px;
    height: 156px;
    position: absolute;
    top: 739px;
    left: 0;
    background: no-repeat url(img/bg_img_star_left_2.svg);
}

.for-box_top {
    position: relative;
}

.for-box_heading {
    font-weight: 700;
    font-size: 64px;
    color: #ffffff;
    padding-bottom: 24px;
}

.for-box_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    padding-bottom: 72px;
}

.for__item_1 {
    background-color: #FFFFFF;
    width: 378px;
    height: 473px;
    border-radius: 30px;
    box-shadow: 0 12px 42px -8px #00000021;
}

.for__item_1-text_block {
    padding-left: 32px;
    padding-top: 32px;
}

.for__item_1-text {
    background-color: #F7F7F7;
    border-radius: 52px;
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #202027;
    padding: 8px 16px 10px;
}

.for__item_1-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    padding-top: 16px;
}

.for__item_2 {
    background-color: #FFFFFF;
    width: 378px;
    height: 512px;
    border-radius: 30px;
    box-shadow: 0 12px 42px -8px #00000021;
}

.for__item_2-text_block {
    padding-left: 32px;
    padding-top: 32px;
}

.for__item_2-text {
    background-color: #F7F7F7;
    border-radius: 52px;
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #202027;
    padding: 8px 16px 10px;
}

.for__item_2-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    padding-top: 16px;
}

.for__item_3 {
    background-color: #FFFFFF;
    width: 378px;
    height: 473px;
    border-radius: 30px;
    box-shadow: 0 12px 42px -8px #00000021;
}

.for__item_3-text_block {
    padding-left: 32px;
    padding-top: 32px;
}

.for__item_3-text {
    background-color: #F7F7F7;
    border-radius: 52px;
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #202027;
    padding: 8px 16px 10px;
}

.for__item_3-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    padding-top: 16px;
}

.for__item_4 {
    background-color: #FFFFFF;
    width: 378px;
    height: 551px;
    border-radius: 30px;
    box-shadow: 0 12px 42px -8px #00000021;
}

.for__item_4-text_block {
    padding-left: 32px;
    padding-top: 32px;
}

.for__item_4-text {
    background-color: #F7F7F7;
    border-radius: 52px;
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #202027;
    padding: 8px 16px 10px;
}

.for__item_4-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    padding-top: 16px;
    width: 300px;
}

.for__item_5 {
    background-color: #FFFFFF;
    width: 378px;
    height: 512px;
    border-radius: 30px;
    box-shadow: 0 12px 42px -8px #00000021;
}

.for__item_5-text_block {
    padding-left: 32px;
    padding-top: 32px;
}

.for__item_5-text {
    background-color: #F7F7F7;
    border-radius: 52px;
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #202027;
    padding: 8px 16px 10px;
}

.for__item_5-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    padding-top: 16px;
    width: 314px;
}

.for__item_6 {
    background-color: #FFFFFF;
    width: 378px;
    height: 551px;
    border-radius: 30px;
    box-shadow: 0 12px 42px -8px #00000021;
}

.for__item_6-text_block {
    padding-left: 32px;
    padding-top: 32px;
}

.for__item_6-text {
    background-color: #F7F7F7;
    border-radius: 52px;
    width: 108px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
    color: #202027;
    padding: 8px 16px 10px;
}

.for__item_6-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    padding-top: 16px;
    width: 300px;
}